[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "config/oh-my-zsh"]
	path = config/oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
